# Dependencies
node_modules/

# Environment variables
backend/.env

# Upload files (local only)
backend/src/uploads/

# Build files
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*git push -u origin main